{% load wagtailcore_tags %}
<h1><a href="{{ page.get_site.root_url }}">{{ page.get_site.site_name }}</a></h1>
<nav>
    <ol>
        {% for static_page in static_pages %}
        <li>
            <a href="{% pageurl static_page %}">{{ static_page.title }}</a>
        </li>
        {% endfor %}
    </ol>
</nav>
<div>
    <ul>
        {% if settings.website.SocialMedia.facebook %}
        <li>
            <a href="{{ settings.website.SocialMedia.facebook }}">
                <i class="fa-brands fa-facebook"></i>
            </a>
        </li>
        {% endif %}
        {% if settings.website.SocialMedia.instagram %}
        <li>
            <a href="{{ settings.website.SocialMedia.instagram }}">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </li>
        {% endif %}
    </ul>
</div>
